.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 200px;
    
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size:18px
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-search{
    display: flex;
    position: relative;
    align-items: center;
}
.navbar-search input{
    padding: 12px;
    border: 1px solid green;
    border-radius: 10px;
    max-width: 120px;
    outline: none;
    color: #49557e;
}
.search-icon{
    position: absolute;
    right: 7px;
    height: 100%;
    border-left: 1px solid green;
    display: flex;
    align-items: center;
}
.search-icon-delete{
    position: absolute;
    right: 22px;
    color: #49557e;
}
.navbar-search img{
    width: 18px;
    cursor: pointer;
    align-items: center;
    padding-left: 4px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 03s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e ;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: green;
    border-radius: 5px;
    top: -3px;
    right:-3px;
}
@media (max-width : 1150px) {
    .navbar-search{
        display: none;
    }
}
@media (max-width : 1050px){
    .navbar .logo{
        width: 140px;
    }
    .narbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .narbar-right{
        gap: 30px;
    }
    .narbar-right img{
        width: 28px;
    }
    .narbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width : 900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 24px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

.navbar-profile{
    position: relative;
}
.navbar-profile-logo{
    font-size: 30px;
    color: #49557e;
}
.navbar-profile-logo:hover{
    cursor: pointer;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #49557e;
    
}
.nav-profile-dropdown li:hover{
    color:rgb(4, 105, 4)
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fcfff9;
    padding: 12px 20px;
    border-radius: 5px;
    border:  1px solid rgb(124, 167, 124);
    list-style: none;
}

@media (max-width : 750px){
    .navbar-menu{
        display: none;
    }
}